
body {
  height: 100vh;

  #root {
    height: 100%;

    .app {
      height: 100%;

      &> .container {
        height: 100%;
        &> .row {
          height: 100%;

          &> .col {
            height: 100%;
          }
        }
      }
    }
  }
}

.menubar {
  width: 350px;
  height: 100%;

  .room-list {
    overflow-y: auto;
  }
}

.chat-view {
  height: 100%;
}

.chat-wrapper {
  position: relative;
  height: calc(100% - 140px);
  max-width: 1600px;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;

  .follow {
    height: 50px;
    width: 50px;
    background-color: #adadad;
    position: sticky;
    bottom: 10px;
    left: calc(100% - 50px - 10px);
    border-radius: 100%;
  }
}

.chat {
  .notification {
    text-align: center;
    background-color: #d1ff69;
    border-radius: 10px;
    max-width: 70%;
    margin: 10px auto;
    color: #8d8a8a;
    border: 1px solid #cce47f;
    font-size: 0.8em;
  }

  .message  {
    max-width: 70%;
    position: relative;
    margin: 0px auto 10px 0px;

    &.serv-session {
      margin: 0px 0px 10px auto;
      text-align: right;

      .bubble {
        background-color: #66d7d1;
      }

      .mouth {
        border-top: 15px solid #66d7d1;
        border-right: 15px solid transparent;

        border-bottom: 0;
        border-left: 0;
        bottom: auto;
        left: auto;

        top: 10px;
        right: -15px;
      }

      .content h4 {
        display: none;
      }
    }

    .bubble {
      border-radius: 7px;
      box-shadow: 0 2px 2px rgba(0,0,0,0.05);
      padding: 0 10px;
      max-width: 100%;
      min-width: 100px;
      display: inline-block;
      background: #ffffff;
    }

    .mouth {
      width: 0;
      height: 0;
      position: absolute;
      border-bottom: 15px solid #fff;
      border-left: 15px solid transparent;
      bottom: 10px;
      left: -15px;
    }

    .content {
      margin: 0.5em 0;
      line-height: 120%;
      font-size: 0.9em;
      h4 {
        margin-bottom: 5px;
        margin-top: 0px;
        font-size: 14px;
        font-weight: bold;
        color: #34679c;
      }
      .text {
        text-align: left;
      }
      .time {
        color: rgba(0,0,0,0.4);
        font-size: 0.6em;
        text-align: right;
      }
    }
  }
}
