
body {
  height: 100vh;

  #root {
    height: 100%;

    .app {
      height: 100%;

      &> .container {
        height: 100%;
        &> .row {
          height: 100%;

          &> .col {
            height: 100%;
          }
        }
      }
    }


  }
}

.menubar {
  width: 350px;
  height: 100%;

  .room-list {
    overflow-y: auto;
  }
}
